<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="pl--56">{{chtn}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="message-wrap" *ngFor="let message of (messages$ | async); let bo = last;">
        <div  *ngIf="message.user.roles===1; else messageTeacherBlock">
            <div class="message left">
                <ion-icon
                        *ngIf="message.user.image === null || message.user.image === '' || message.user.image ===' '; else noImgSt"
                        name="contact" class="fs-62 user-img" color="primary"></ion-icon>
                <ng-template #noImgSt>
                    <img class="user-img" [src]="message.user.image" alt="">
                </ng-template>
                <div class="msg-detail">
                    <div class="msg-info">
                        <p>
                            {{message.user.name}} {{message.user.surname}} inviato
                            alle {{message.sendDate | date: "HH:mm"}}</p>
                    </div>
                    <div class="msg-content">
                        <span class="triangle"></span>
                        <p class="line-breaker ">{{message.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #messageTeacherBlock>
            <div class="message right">
                <ion-icon
                        *ngIf="message.user.image === null || message.user.image === '' || message.user.image ===' '; else noImgTe"
                        name="contact" class="fs-62 user-img" color="primary"></ion-icon>
                <ng-template #noImgTe>
                    <img class="user-img" [src]="message.user.image" alt="">
                </ng-template>
                <div class="msg-detail">
                    <div class="msg-info">
                        <p>
                            {{message.user.name}} {{message.user.surname}} inviato
                            alle {{message.sendDate | date: "HH:mm"}}</p>
                    </div>
                    <div class="msg-content">
                        <span class="triangle"></span>
                        <p class="line-breaker ">{{message.text}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
        <div [hidden]="bo" *ngIf="bo;">{{content.scrollToBottom(0)}}</div>
    </div>
        <div *ngIf="sendStatus === 'pending'" class="ion-float-right ion-padding-end">
            <ion-spinner name="dots"></ion-spinner>
        </div>
</ion-content>
<ion-footer [style.height]="'55px'">
    <div class="input-wrap">
        <form [formGroup]="scritturaMessaggio" style="width: 100%;" (ngSubmit)="inviaMessagio()" (click)="scrolla()">
            <label>
                <textarea style="width: 84%;" formControlName="text" placeholder="Text Input"></textarea>
            </label>
            <ion-button fill="clear" slot="icon-only" [disabled]="!scritturaMessaggio.valid" type="submit"
                        style="margin-top: -38px;">
                <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
            </ion-button>
        </form>
    </div>
</ion-footer>
