<ion-header>

    <ion-toolbar>
        <ion-title>chat mario</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="message-wrap">
        <!--<div *ngFor="let msg of msgList"
             class="message"
             [class.left]=" msg.userId === toUser.id "
             [class.right]=" msg.userId === user.id ">
             &lt;!&ndash; <div class="message left">&ndash;&gt;
            <img class="user-img" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        Mario&nbsp;Rossi&nbsp;&nbsp;3ore&nbsp;fa</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker ">{{msg.message}}</p>
                </div>
            </div>
        </div>-->

        <!--<div *ngFor="let mex of messages" class="message"
             [class.left]=" mex.userId == 1"
             [class.right]=" mex.userId == 2">
            <img class="user-img" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        </p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker ">{{mex.message}}</p>
                </div>
            </div>
        </div>-->
        <div class="message left">
            <img class="user-img" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        Mario&nbsp;Rossi&nbsp;&nbsp;3ore&nbsp;fa</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker ">Prova 3</p>
                </div>
            </div>
        </div>

        <div class="message right">
            <img class="user-img" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        Mario&nbsp;Rossi&nbsp;&nbsp;3ore&nbsp;fa</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker ">Prova 4 adlkfnsdnlfndslfl sdfsdbfs sdjfnbjsdf jsdhfjbsdf hsjdfb</p>
                </div>
            </div>
        </div>

        <div class="message right">
            <img class="user-img" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        Mario&nbsp;Rossi&nbsp;&nbsp;3ore&nbsp;fa</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker ">Prova 5 adlkfnsdnlfndslfl sdfsdbfs sdjfnbjsdf jsdhfjbsdf hsjdfb</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer no-border [style.height]="'55px'">
    <div class="input-wrap">
    <textarea #chat_input [(ngModel)]="testoMessaggio"
              placeholder="Text Input">
    </textarea>
        <ion-button fill="clear" (click)="messageUpdate()" slot="icon-only" item-right>
            <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </ion-button>
    </div>
</ion-footer>
