<div #expandWrapper class='expand-wrapper' [class.collapsed]="!expanded">
<ion-row *ngFor="let i of itemlist">
    <ion-col size="5" class="py-0">{{i.giorno}}</ion-col>
    <ion-col size="7" class="ion-no-padding">
        <ion-row *ngFor="let o of i.orari">
            <ion-col size="5" class="py-0 ion-text-right">{{o[0]}}</ion-col>
            <ion-col size="2" class="py-0 ion-text-center"> -</ion-col>
            <ion-col size="5" class="py-0 ion-text-right pl-0 pr-15">{{o[1]}}</ion-col>
        </ion-row>
    </ion-col>
</ion-row>
</div>
