<form [formGroup]="filtroRicerca">
  <ion-list>
    <ion-list-header class="px-0"><span class="ion-text-center w-100">{{"FILTER_LESSONS_LD"|translate}}</span></ion-list-header>
    <ion-item-divider class="mh-1-important"></ion-item-divider>
    <ion-item>
      <ion-label>{{"NAME_LESSON"|translate}}:</ion-label>
      <ion-input formControlName="nomeLezione" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{"CITY_TEXT"|translate}}:</ion-label>
      <ion-select  okText="{{'SELECT_BUTTON'|translate}}" formControlName="city" cancelText="{{'CANCEL_BUTTON'|translate}}"
                  class="w-65 max-w-65 pt-14">
        <ion-select-option *ngFor="let c of cityLesson"
                           value="{{c.value}}">{{c.text}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{"SUBJECT"|translate}}:</ion-label>
      <ion-select (ionChange)="setSotto()"  okText="{{'SELECT_BUTTON'|translate}}" formControlName="selectMateria" cancelText="{{'CANCEL_BUTTON'|translate}}"
                  class="w-65 max-w-65 pt-14">
        <ion-select-option *ngFor="let mat of materie"
                           value="{{mat.value}}">{{mat.text}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="materia!==null; else selctDisabilited">
      <ion-label>{{"SUB_SUBJECT"|translate}}:</ion-label>
      <ion-select okText="{{'SELECT_BUTTON'|translate}}" formControlName="selectSotto" cancelText="{{'CANCEL_BUTTON'|translate}}"
                  class="w-50 max-w-50 pt-14">
        <ion-select-option *ngFor="let sot of sottomaterie[materia]"
                           value="{{sot.value}}">{{sot.text}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ng-template #selctDisabilited>
      <ion-item>
        <ion-label>{{"SUB_SUBJECT"|translate}}:</ion-label>
        <ion-select okText="{{'SELECT_BUTTON'|translate}}" cancelText="{{'CANCEL_BUTTON'|translate}}"
                    class="w-50 max-w-50 pt-14" disabled
                    placeholder="{{'SUB_SUBJECT_SELECT'|translate}}">
          <ion-select-option value="0">{{"ALL"|translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ng-template>

    <ion-item>
      <ion-label>{{"PRICE"|translate}}:</ion-label>
      <ion-select  okText="{{'SELECT_BUTTON'|translate}}" formControlName="price" cancelText="{{'CANCEL_BUTTON'|translate}}"
                  class="w-65 max-w-65 pt-14">
        <ion-select-option *ngFor="let p of prezzi"
                           value="{{p}}">{{p}}€/h</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{"START_TIME"|translate}}:</ion-label>
      <ion-datetime (ionChange)="settaFinelezione()" displayFormat="HH:mm" placeholder="{{'START_TIME'|translate}}" formControlName="startHour" minute-values="0"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>{{"END_TIME"|translate}}:</ion-label>
      <ion-datetime displayFormat="HH:mm" placeholder="{{'END_TIME'|translate}}" formControlName="endHour" [hourValues]="hours" minute-values="0"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Giorni</ion-label>
      <ion-select multiple="true" okText="{{'SELECT_BUTTON'|translate}}" cancelText="{{'CANCEL_BUTTON'|translate}}" formControlName="days" class="scroll">
        <ion-select-option value="lunedi">{{"MONDAY"|translate}}</ion-select-option>
        <ion-select-option value="martedi">{{"TUESDAY"|translate}}</ion-select-option>
        <ion-select-option value="mercoledi">{{"WEDNESDAY"|translate}}</ion-select-option>
        <ion-select-option value="giovedi">{{"THURSDAY"|translate}}</ion-select-option>
        <ion-select-option value="venerdi">{{"FRIDAY"|translate}}</ion-select-option>
        <ion-select-option value="sabato">{{"SATURDAY"|translate}}</ion-select-option>
        <ion-select-option value="domenica">{{"SUNDAY"|translate}}</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <ion-row>
    <div class="mr-auto ml-auto">
      <ion-button class="ion-margin-top ion-margin-bottom" color="success" (click)="subFiltro()">{{"FILTER_BUTTON"|translate}}</ion-button>
    </div>

    <div class="mr-auto ml-auto">
      <ion-button class="ion-margin-top ion-margin-bottom" color="primary"  (click)="resetFiltro()">{{"RESET_BUTTON"|translate}}</ion-button>
    </div>
  </ion-row>
</form>
