<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ml--56">{{"ADVERTISEMENTS_PLACED_TITLE"|translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="(plannings$|async) as plannings">
        <ion-list *ngIf="plannings.length > 0; else noPlanning">
            <ion-card *ngFor="let planning of plannings">
                <ion-card-header>
                    <ion-card-title class="">{{planning.lesson.name | uppercase}}</ion-card-title>
                </ion-card-header>
                <ion-card-subtitle class="font-bold ion-padding-start">
                    {{planning.lesson.subject.macroSubject}} - {{planning.lesson.subject.microSubject}}
                </ion-card-subtitle>
                <ion-card-content>
                    <label>Prossima:</label>
                    <h2>{{planning.date | date:'EEEE d MMMM y': 'GMT+1': 'it-IT'}} alle {{planning.startTime.slice(0, 5)}}</h2>
                </ion-card-content>
                <ion-row>
                    <ion-col class="ion-justify-content-start">
                        <ion-button (click)="modificaLezione(planning)" size="medium" class="colore-bottone-primario">
                            <ion-icon name='create'></ion-icon>
                            &nbsp;Dettagli
                        </ion-button>
                    </ion-col>
                    <ion-col class="ion-justify-content-end">
                        <ion-button size="medium" [routerLink]="['/lista-pianificazioni', planning.lesson.idLesson]" class="colore-bottone-primario">
                            <ion-icon name='list'></ion-icon>
                            &nbsp;Pianificazioni
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </div>
    <ng-template #noPlanning>
        <div class="mx-auto fit-content mb-100">
            <h5 class="fit-content font-weight-300 ls-1">{{"ADVERTISEMENTS_PLACED_TEXT"|translate}}</h5>
        </div>
        <ion-button size="large" expand="block" color="primary" [routerLink]="['/inserimento-lezioni', 'null']"
                    routerDirection="forward">{{"INSERT_AD"|translate}}</ion-button>
    </ng-template>
</ion-content>
