.bottone-inserisci {
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid rgba(102, 102, 102, 0.15);
}
ion-list-header{
  display:block;
  text-align: center;
}
.text-bolder {
  font-weight: bolder;
}

.mt-15 {
  margin-top: 15px;
}

.testo-centrato {
  display:block;
  text-align: center;
}
