<div [hidden]="!loading" class="loading-container">
    <ion-spinner name="crescent" class="loading-spinner"></ion-spinner>
</div>

<ion-header *ngIf="modifica; else insertFromListaAnnunci">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ml--56">{{"MODIFIED_LESSON_TITLE"|translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ng-template #insertFromListaAnnunci>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title  class="ml--56 text-none">{{"INSERTION_DATE_TIME_TITLE"|translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
</ng-template>


<ion-content>
    <div *ngIf="!modifica; else modificaBlock">
        <form [formGroup]="lezioneFormModel">
            <ion-item lines="full">
                <ion-label position="stacked" class="label-form">{{"NAME_LESSON"|translate}}</ion-label>
                <ion-input type="text" formControlName="name"
                           required class="input-form-font pl-18-important" placeholder="{{'NAME_LESSON'|translate}}"></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="stacked" class="plr-22 label-form">{{"PRICE_HOUR"|translate}}:</ion-label>
                <ion-input formControlName="price" type="number"
                           required class="input-form-font pl-18-important" placeholder="00.00"></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label class="label-form" position="stacked">{{"DESCRIPTION_LESSON_LABEL"|translate}}</ion-label>
                <ion-textarea class="input-form-font plr-22" formControlName="description" required placeholder="{{'DESCRIPTION_LESSON_LABEL'|translate}}"></ion-textarea>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="stacked" class="label-form">{{"SUBJECT"|translate}}:</ion-label>
                <ion-select okText="{{'SELECT_BUTTON'|translate}}" #mySelectMateria (ionChange)="cambioMateria(mySelectMateria.value)" formControlName="macroSubject" cancelText="{{'CANCEL_BUTTON'|translate}}"
                            class="input-form-font pl-18-important" [selectedText]="materia" [value]="materia">
                    <ion-select-option *ngFor="let mat of materie" [selected]="materia == mat"
                                       value="{{mat}}">{{mat}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="stacked" class="label-form">{{"SUB_SUBJECT"|translate}}:</ion-label>
                <ion-select okText="{{'SELECT_BUTTON'|translate}}" #mySelectSottoMateria (ionChange)="cambioSottoMateria(mySelectSottoMateria.value)" formControlName="microSubject" cancelText="{{'CANCEL_BUTTON'|translate}}"
                            class="input-form-font pl-18-important" [selectedText]="sottoMateria" [value]="sottoMateria">
                    <ion-select-option *ngFor="let sot of sottoMaterie[materie.indexOf(materia)]" [selected]="sot == sottoMateria"
                                       value="{{sot}}">{{sot}}</ion-select-option>
                </ion-select>
            </ion-item>
        </form>
    </div>
    <ng-template #modificaBlock>
        <div>
            <form [formGroup]="lezioneFormModel">
                <ion-item lines="full">
                    <ion-label position="stacked" class="label-form">{{"NAME_LESSON"|translate}}</ion-label>
                    <ion-input type="text" formControlName="name"
                               required class="input-form-font pl-18-important" placeholder="{{'NAME_LESSON'|translate}}"></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-label position="stacked" class="plr-22 label-form">{{"PRICE_HOUR"|translate}}:</ion-label>
                    <ion-text class="padding-fontsize">{{lesson.price}}</ion-text>
                </ion-item>
                <ion-item lines="full">
                    <ion-label class="label-form" position="stacked">{{"DESCRIPTION_LESSON_LABEL"|translate}}</ion-label>
                    <ion-textarea class="input-form-font plr-22" formControlName="description" required placeholder="{{'DESCRIPTION_LESSON_LABEL'|translate}}"></ion-textarea>
                </ion-item>
                <ion-item lines="full">
                    <ion-label position="stacked" class="label-form">{{"SUBJECT"|translate}}:</ion-label>
                    <ion-text class="padding-fontsize">{{lesson.subject.macroSubject}}</ion-text>
                </ion-item>
                <ion-item lines="full">
                    <ion-label position="stacked" class="label-form">{{"SUB_SUBJECT"|translate}}:</ion-label>
                    <ion-text class="padding-fontsize">{{lesson.subject.microSubject}}</ion-text>
                </ion-item>
            </form>
        </div>
    </ng-template>
    <div class="ion-text-center mt-25">
            <ion-button size="medium" shape="round" class="bottone-inserisci ion-margin-bottom ion-margin-top"
                        (click)="annulla()" tappable>{{"CANCEL_BUTTON"|translate}}
            </ion-button>
            <ion-button size="medium" shape="round" *ngIf="modifica; else bottoneInserisci" class="bottone-inserisci ion-margin-bottom ion-margin-top"
                        [disabled]="!lezioneFormModel.valid" (click)="modificaLezione()" tappable>{{"SAVE_BUTTON"|translate}}
            </ion-button>
    </div>
    <ng-template #bottoneInserisci>
            <ion-button size="medium" shape="round" class="bottone-inserisci ion-margin-bottom ion-margin-top"
                        [disabled]="!lezioneFormModel.valid" (click)="inserisciLezione()">{{"INSERT_BUTTON"|translate}}
            </ion-button>
    </ng-template>
</ion-content>
