.login-content {
  background: #ffffff;

  .registrati-box {
    background: #029db4;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
  }

  .foto-profilo {
    margin-top: -10px;
    font-size: 16px;
    font-weight: bold;
    color: #808080;
    text-shadow: #111111 0 0 0;
  }

  ion-label{
    color: #999;
    padding-left: 8px;
  }

  ion-item {
    // padding-left: 16px !important;
    font-size: 16px;
    box-shadow: none !important;
  }

  .pa16{
    padding-left: 16px !important;
  }

  .nome{
    border-right-width: 0 !important;
  }

  .cognome{
    margin-left: -1px;
  }

  .signup-col {
    margin: -25px 16px 0px 16px;
    padding-bottom: 20px;
  }

  .item-inner {
    border-bottom-color: #ffffff !important;
    box-shadow: none !important;
  }

  .register-btn {
    color: #ffffff;
    font-size: 0.8em;
  }

  .text08 {
    font-size: .8rem;
  }
}
