.login-content {
  background: #ffffff;

  .registrati-box {
    background: #029db4;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
  }

  .foto-profilo {
    margin-top: -10px;
    font-size: 16px;
    font-weight: bold;
    color: #808080;
    text-shadow: #111111 0 0 0;
  }

  ion-label{
    color: #999;
    padding-left: 8px;
  }

  ion-item {
    padding-right: 16px;
    font-size: 16px;
    box-shadow: none !important;
  }

  .pa16{
    padding-left: 16px !important;
  }

  .nome{
    border-right-width: 0 !important;
  }

  .cognome{
    margin-left: -1px;
  }

  .signup-col {
    margin: -25px 16px 0px 16px;
    padding-bottom: 20px;
  }

  .item-inner {
    border-bottom-color: #ffffff !important;
    box-shadow: none !important;
  }

  .register-btn {
    color: #ffffff;
    font-size: 0.8em;
  }

  .text08 {
    font-size: .8rem;
  }
}
.label-struttura{
  padding-left: 0 !important;
  font-size: large;
  font-weight: bold;
  color: rgba(30,30,30,0.85) !important;
  padding-bottom: 17px;
}
.name-field {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: rgba(30,30,30,0.85) !important;
  padding-top: 16px;
}
.input-fs-18{
  font-size: 18px;
}
.submit-btn-2 {
  --border-width: 1px;
  --border-style: solid;
  --border-color: #029db4;
  --background-hover: #5bb526;
  --color: #ffffff;
  --background: #029db4;
  font-size: 16px;
  --padding-bottom: 2px;
  --padding-top: 2px;
  margin-left: 45px;
  margin-right: 45px;
}
.select-full-width-2{
  width: 100%;
  max-width: 100%;
  text-align: left;
}
