<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title *ngIf="modifica; else titoloinserisci" class="ml--56">{{"MODIFIED_DATE_TIME_TITLE"|translate}}</ion-title>
        <ng-template #titoloinserisci>
            <ion-title class="ml--56">{{"INSERTION_DATE_TIME_TITLE"|translate}}</ion-title>
        </ng-template>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <form [formGroup]="dataLezioneFormModel">
            <ion-list formArrayName="dataOraIF" *ngFor="let contact of dataOraIFFormGroup.controls; let i = index;">
                <ion-item [formGroupName]="i">
                    <ion-col size="auto">
                    <ion-icon *ngIf="arrayDymension > 1" name="remove-circle-outline" (click)="rimuoviCampo(i)"></ion-icon>
                    </ion-col>
                    <ion-col size="4">
                    <ion-datetime displayFormat="DD MMM YYYY"
                                      placeholder="{{'DATE'|translate}}"
                                      monthNames="{{'MONTHS_DATETIME'|translate}}"
                                      formControlName="dataLezione" required class="plr-0"></ion-datetime>
                    </ion-col>
                    {{"DATETIME_FROM"|translate}}
                    <ion-col size="auto">
                        <ion-datetime (ionChange)="changeInizioLezione(i)" displayFormat="HH : mm" placeholder="{{'START_TIME'|translate}}" formControlName="oraInizio" hour-values="01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22"
                                      required class="plr-0" minute-values="0"></ion-datetime>
                    </ion-col>
                    {{"DATETIME_TO"|translate}}
                    <ion-col size="auto">
                    <ion-datetime displayFormat="HH : mm" placeholder="{{'END_TIME'|translate}}" formControlName="oraFine" [hourValues]="hours" minute-values="0"
                                  required class="plr-0"></ion-datetime>
                    </ion-col>
                </ion-item>
            </ion-list>
        </form>
    </div>

    <ion-row>
        <ion-col class="ion-text-center">
            <ion-button (click)="presentAlertPlan()"
                        [disabled]="!dataLezioneFormModel.valid">{{"CLOSE_BUTTON"|translate}}
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="aggiungiCampo()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
