<ion-header>
    <ion-toolbar>
        <ion-title>{{"PLANNING_TITLE"|translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="planningFormModel" (ngSubmit)="salvaPlanning()">
        <ion-list>
            <ion-item class="animated fadeInUp">
                <ion-label class="label-form" position="floating">{{"DATE"|translate}}</ion-label>
                <ion-datetime formControlName="date" displayFormat="DDDD DD MMMM YYYY"
                              monthShortNames="{{'MONTHS_DATETIME_SHORT'|translate}}"
                              dayNames="{{'DAY_DATETIME'|translate}}"
                              monthNames="{{'MONTHS_DATETIME'|translate}}"
                              pickerFormat="DD MMMM YYYY" min="{{primaDataDisp}}" (ionChange)="alCambioData()"></ion-datetime>
            </ion-item>
            <ion-item class="animated fadeInUp">
                <ion-label class="label-form" position="floating">{{"START_TIME"|translate}}</ion-label>
                <ion-datetime formControlName="startTime" displayFormat="HH:mm" (ionChange)="alCambioOraInizio()"
                              pickerFormat="HH:mm" minute-values="0" [hourValues]="hoursStart"></ion-datetime>
            </ion-item>
            <ion-item class="animated fadeInUp">
                <ion-label class="label-form" position="floating">{{"END_TIME"|translate}}</ion-label>
                <ion-datetime formControlName="endTime" displayFormat="HH:mm"
                              pickerFormat="HH:mm" minute-values="0" [hourValues]="hoursEnd"></ion-datetime>
            </ion-item>
            <ion-item class="animated fadeInUp" lines="full">
                <ion-text slot="start">{{"TUTOR_EVERY"|translate}} {{gionoDellaSettimana}}</ion-text>
                <ion-toggle slot="end" value="false" class="colore-check-primario mr-30" (ionChange)="presentaAlert()"
                            formControlName="repeatPlanning"></ion-toggle>
            </ion-item>
            <ion-row class="ion-padding-top ion-padding-start ion-padding-end" *ngIf="planning.repeatPlanning && !navParams.data.gruppo">
                <ion-icon size="large" name="information"> </ion-icon>
                <ion-col size="10">
                    <ion-text class="ion-text-justify fs-small">
                       {{"NOT_TUTOR"|translate}}
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-list>
        <div class="ion-text-center mt-25">
            <ion-button size="medium" shape="round" class="colore-bottone-primario" type="submit"
                        [disabled]="!planningFormModel.valid"
                        tappable>
                {{"SAVE_BUTTON"|translate}}
            </ion-button>
            <ion-button size="medium" shape="round" color="danger" (click)="cancel()" tappable>
                {{"CLOSE_BUTTON"|translate}}
            </ion-button>
        </div>
    </form>
</ion-content>
