<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ml--56">{{"PROFILE_TITLE"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <super-tabs>
    <super-tabs-toolbar slot="top">
      <super-tab-button>
        <ion-label>{{"VISUALIZE"|translate}}</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label>{{"MODIFIED"|translate}}</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-nav [root]="profilo"></ion-nav>
      </super-tab>
      <super-tab>
        <ion-nav [root]="modificaProfilo"></ion-nav>
      </super-tab>

    </super-tabs-container>
  </super-tabs>
</ion-content>
