<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ml--56">{{"SEARCH_LESSONS_TITLE"|translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="ricercaFormModel" (ngSubmit)="predi()">
        <ion-list>
            <ion-list-header class="ion-text-uppercase">
                {{"AVAILABLE_SUBJECTS"|translate}} :
            </ion-list-header>
            <ion-item class="ion-no-padding mt-neg-10">
                <ion-label class="ion-padding-start">{{"SUBJECT"|translate}}:</ion-label>
                <ion-label color="primary"> {{materia}}</ion-label>
                <ion-button slot="end" fill="clear" (click)="showPicker()" >{{"SELECT_BUTTON"|translate}}</ion-button>
            </ion-item>
            <ion-item *ngIf="uscitaValue!==null; else selctDisabilited">
                <ion-label>{{"SUB_SUBJECT"|translate}}:</ion-label>
                <ion-select okText="{{'SELECT_BUTTON'|translate}}" formControlName="sottoMateria" cancelText="{{'CANCEL_BUTTON'|translate}}"
                            class="w-65 max-w-65">
                    <ion-select-option *ngFor="let sot of sottoMaterie[uscitaValue]"
                                       value="{{sot.value}}">{{sot.text}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ng-template #selctDisabilited>
                <ion-item>
                    <ion-label>{{"SUB_SUBJECT"|translate}}:</ion-label>
                    <ion-select okText="{{'SELECT_BUTTON'|translate}}" cancelText="{{'CANCEL_BUTTON'|translate}}"
                                class="w-65 max-w-65" disabled
                                placeholder="{{'SUB_SUBJECT_SELECT'|translate}}">
                        <ion-select-option value="0">{{"ALL"|translate}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ng-template>
            <ion-item>
                <ion-label>{{"NAME_LESSON"|translate}}:</ion-label>
                <ion-input formControlName="nomeLezione" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>{{"CITY_TEXT"|translate}}:</ion-label>
                <ion-input formControlName="nomeCitta" type="text"></ion-input>
            </ion-item>
            <ion-list-header class="ion-text-uppercase ion-margin-top">
                {{"DAY_HOUR"|translate}} :
            </ion-list-header>
            <ion-item class="mt-neg-10">
                <ion-label>{{"DIV_DAYS"|translate}}:</ion-label>
                <ion-select multiple="true" formControlName="giorni" okText="{{'SELECT_BUTTON'|translate}}" cancelText="{{'CANCEL_BUTTON'|translate}}"
                            class="w-85 max-w-85">
                    <ion-select-option value="1">{{"MONDAY"|translate}}</ion-select-option>/
                    <ion-select-option value="2">{{"TUESDAY"|translate}}</ion-select-option>
                    <ion-select-option value="3">{{"WEDNESDAY"|translate}}</ion-select-option>
                    <ion-select-option value="4">{{"THURSDAY"|translate}}</ion-select-option>
                    <ion-select-option value="5">{{"FRIDAY"|translate}}</ion-select-option>
                    <ion-select-option value="6">{{"SATURDAY"|translate}}</ion-select-option>
                    <ion-select-option value="7">{{"SUNDAY"|translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>{{"START_TIME"|translate}}:</ion-label>
                <ion-datetime (ionChange)="changeInizioLezione()" formControlName="inizio" displayFormat="HH mm" hour-values="08,09,10,11,12,13,14,15,16,17,18,19,20,21,22"
                              minute-values="0,05,10,15,20,25,30,35,40,45,50,55" placeholder="Ora"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>{{"END_TIME"|translate}}:</ion-label>
                <ion-datetime formControlName="fine"  displayFormat="HH mm" [hourValues]="hours"
                              [minuteValues]="minutes" placeholder="Ora"></ion-datetime>
            </ion-item>
        </ion-list>
        <ion-row>
            <div class="mt-25 ml-auto mr-auto">
                <ion-button color="success" type="submit"> {{"SEARCH_LESSONS_BUTTON"|translate}}
                </ion-button>
            </div>
            <div class="mt-15 ml-auto mr-auto">
                <ion-button  (click)="resetto()" > {{"RESET_BUTTON" | translate}}
                </ion-button>
            </div>


        </ion-row>
    </form>
</ion-content>
