<ion-header [hidden]="isSearch">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ml--56">myTutor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs (ionTabsWillChange)="isInSearch()" *ngIf="(user$ | async) as user">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="inserisci-lezione" [hidden]="(user.roles === 1)">
        <ion-icon name="create"></ion-icon>
        <ion-label>{{"INSERT_AD_SIDE_MENU"|translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="ricerca-lezioni" [hidden]="(user.roles === 2)">
        <ion-icon name="search"></ion-icon>
        <ion-label>{{"SEARCH_LESSONS_TITLE"}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="richieste">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>{{"BUTTON_TAB_REQUESTS"}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="lista-chat">
        <ion-icon name="mail"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
