<ion-content>
  <ion-tabs *ngIf="(user$ | async) as user">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="inserisci-lezione" [hidden]="(user.roles === 1)">
        <ion-icon name="search"></ion-icon>
        <ion-label>Inserisci Annuncio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="ricerca-lezioni" [hidden]="(user.roles === 2)">
        <ion-icon name="search"></ion-icon>
        <ion-label>Ricerca Lezione</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="richieste">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Richieste</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="lista-chat">
        <ion-icon name="mail"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
