<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div *ngIf="listItem[0]">
      <ion-title class="ml--56">{{listItem[0].lesson.name}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let p of listItem; let i = index;" detail="true" lines="full">
    <ion-label (click)="presentPrenotazione(i)">
      <h2 class="ion-text-capitalize fs-20-imp lh-24-imp fw-500-imp color-rgb-38">{{p.date | date: 'EEEE dd/MM/yyyy': 'GMT+2': setLanguage}}</h2>
      <p class="mt-5 fw-500-imp fs-14-imp color-rgb-115">{{p.lesson.teacher.city}}, {{p.lesson.teacher.postCode}} {{p.lesson.teacher.street}} {{p.lesson.teacher.streetNumber}}</p>
      <p> {{"DATETIME_FROM"|translate}} <span class="c-primary font-weight-400">{{p.startTime.slice(0,5)}}</span> {{"DATETIME_FROM"|translate}} <span class="c-primary font-weight-400">{{p.endTime.slice(0,5)}}</span></p>
    </ion-label>
  </ion-item>

</ion-content>
