<ion-header>
  <ion-toolbar>
    <ion-title color="light" text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding text-center>
        <form [formGroup]="loginFormModel" class="list-form">
            <ion-item no-padding>
                  <ion-input color="secondary" type="email" formControlName="username"></ion-input>
            </ion-item>

            <ion-item no-padding>

                <ion-input formControlName="password"></ion-input>
                <ion-icon (click)="togglePassword()" [name]="passwordShow === true ? 'eye-off' : 'eye'" color="gray"
                           style="z-index: 1"></ion-icon>
            </ion-item>

                <div margin-top="20px">
                    <ion-button class="submit-btn" (click)="onLogin()"  type="submit" [disabled]="!loginFormModel.valid">Login</ion-button>
                    <ion-button class="register-btn" >Registrati</ion-button>
                </div>
        </form>

</ion-content>
