
.login-content {
  background: #ffffff;

  .logo-row {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .login-box {
    background: rgba(2, 157, 180, 0.8);
    padding: 20px 20px 0px 20px;
    margin-top: 30px;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  ion-item {
    font-size: 16px;
    border: 1px solid #e6e6e6;
    border-bottom: 0px !important;
    box-shadow: none !important;
  }

  .signup-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
  }

  .item-inner {
    border-bottom-color: #ffffff !important;
    box-shadow: none !important;
  }

  .md .emailpwd{
    padding-left: 15px;
  }
  .submit-btn {
    --border-width: 1px;
    --border-style: solid;
    --border-color: #ffff;
    --background-hover: #5bb526;
    --color: #ffffff;
    --background: #54a723;
    font-size: 0.8em;

  }

  .login-button {
    margin-left:20px;
    text-align: start;
    padding-left: 0;
  }

  .registration-button{
    text-align: end;
    margin-right: 14px
  }

  .register-btn {
    --border-width: 1px;
    --border-style: solid;
    --border-color: #ffff;
    --color: #ffffff;
    font-size: 0.8em;
  }
}
