<ion-app>
    <ion-split-pane contentId="menu-content">
        <ion-menu *ngIf="(user$ | async) as user" class="menu" side="start" menuId="first" contentId="menu-content">
            <ion-header class="bb-1-color">
                <ion-row (click)="profilo()">
                    <ion-col class="ion-align-self-center" size="auto" [routerLink]="['/modifica-profilo']" routerDirection="forward">
                        <ion-icon *ngIf="user.image === null || user.image === '' || user.image ===' ' || user.image === undefined; else imgBlock"
                                  name="contact" class="fs-62"></ion-icon>
                        <ng-template #imgBlock>
                            <ion-avatar class="ion-text-center h-62 w-62 pt-3">
                                <img [src]="user.image" alt="img" class="w-62 h-62">
                            </ion-avatar>
                        </ng-template>
                    </ion-col>
                    <ion-col size="8" class="ion-align-self-center" [routerLink]="['/modifica-profilo']" routerDirection="forward">
                        <h1 class="ion-no-margin font-weight-400">{{user.name}} {{user.surname}}</h1>
                        <h5 *ngIf="user.roles === 2" class="ion-no-margin font-weight-400">{{"TEACHER"|translate}}</h5>
                        <h5 *ngIf="user.roles === 1" class="ion-no-margin font-weight-400">{{"STUDENT"|translate}}</h5>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-row class="ion-justify-content-around w-100">
                        <ion-col size="auto">
                            <ion-button fill="outline" color="light" (click)="openPage('/modifica-profilo')">
                                <ion-icon name="contact" class="pr-3 fs-24"></ion-icon>
                                <ion-text class="ion-no-margin font-weight-400">{{"PROFILE_TITLE"|translate}}</ion-text>
                            </ion-button>
                        </ion-col>
                        <ion-col size="auto">
                            <ion-button fill="outline" color="light" (click)="logout()">
                                <ion-icon name="exit" class="pr-3 fs-24"></ion-icon>
                                <ion-text class="ion-no-margin font-weight-400">{{"SING_OUT"|translate}}</ion-text>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-row>
            </ion-header>
            <ion-col *ngIf="user.roles == 1" class="pl-0 pr-0">
                <ion-row class="menu-item-margin ion-padding-start" [class.menu-item-clicked]="p.click"
                         (click)="openPage(p.url)" *ngFor="let p of appPagesStudent">
                    <ion-col size="auto" class="ion-align-self-center">
                        <ion-icon [name]="p.icon" class="menu-icon"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-align-self-center">
                        <h4 class="ion-no-margin font-weight-400">{{p.title|translate}}</h4>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col *ngIf="user.roles == 2" class="pl-0 pr-0">
                <ion-row class="menu-item-margin ion-padding-start" [class.menu-item-clicked]="p.click"
                         (click)="openPage(p.url)" *ngFor="let p of appPagesTeacher">
                    <ion-col size="auto" class="ion-align-self-center">
                        <ion-icon [name]="p.icon" class="menu-icon"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-align-self-center">
                        <h4 class="ion-no-margin font-weight-400">{{p.title|translate}}</h4>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-menu>
        <ion-router-outlet id="menu-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
