<ion-list>
  <ion-list-header class="px-0"><span class="ion-text-center" style="width: 100%">{{"TIME_SLOT_AVAILABLE_LD"|translate}} {{day}}</span></ion-list-header>
    <ion-item-divider style="min-height: 1px !important;"></ion-item-divider>
    <ion-item class="px-0" lines="" *ngFor="let s of slot">
      <div class="ion-text-center" style="width: 100%">{{s[0]}} - {{s[1]}}</div>
    </ion-item>
  <ion-row>
    <div style="margin-right: auto; margin-left: auto">
  <ion-button class="ion-margin-top ion-margin-bottom"  (click)="close()">{{"CLOSE_BUTTON"|translate}}</ion-button>
    </div>
  </ion-row>
</ion-list>
