<div [hidden]="!loading" class="loading-container">
    <ion-spinner name="crescent" class="loading-spinner"></ion-spinner>
</div>

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ml--56">{{"LESSON_TITLE"|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="(planning) as planning">
        <ion-item class="px-0 pr-0" lines="none">
            <ion-grid>
                <ion-row>
                    <h1 class="nome ion-text-center w-100">{{planning.lesson.name}}</h1>
                </ion-row>
                <ion-row>
                    <ion-col size="auto" class="px-0 mt-15">
                        <!--"-->
                        <ion-icon
                                *ngIf="planning.lesson.teacher.image === null || planning.lesson.teacher.image === '' || planning.lesson.teacher.image ===' '; else imgBlock"
                                name="contact" class="fs-62 c-primary"></ion-icon>
                        <ng-template #imgBlock>
                            <ion-avatar class="ion-text-center h-62 w-62 pt-3">
                                <img [src]="planning.lesson.teacher.image" alt="img" class="w-51 h-51">
                            </ion-avatar>
                        </ng-template>
                    </ion-col>
                    <ion-col class="pr-0">
                        <h1 class="nome">{{planning.lesson.teacher.name}} {{planning.lesson.teacher.surname}}</h1>
                        <h2 class="anni">{{age}} {{"AGE"|translate}}</h2>
                        <ion-row class="ion-justify-content-between">
                            <h2 class="tariffa pt-2">{{"PRICE_HOUR"|translate}}:</h2>
                            <h1 class="euro ion-no-margin">{{planning.lesson.price}} €/h</h1>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <div class="box-materia">
            <ion-row class="text-12">
                <ion-col class="ion-align-items-center ion-text-center">
                    {{planning.lesson.subject.macroSubject}}
                </ion-col>
                <div class="separatore">
                    &nbsp;
                </div>
                <ion-col class="ion-align-items-center ion-text-center">
                    {{planning.lesson.subject.microSubject}}
                </ion-col>
            </ion-row>
        </div>

        <ion-card>
            <ion-card-header>
                <ion-card-title>{{"DESCRIPTION_CARD_TITLE"|translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{planning.lesson.description}}
                <ion-card-header class="px-0">
                    <ion-card-title>{{"LOCATION_CARD_TITLE"|translate}}</ion-card-title>
                </ion-card-header>
                <ion-row class="mb-10">
                    <ion-text color="dark"><h2 class="text-bolder pr-3">{{"REGION_TEXT"|translate}}:</h2></ion-text>
                    <h2 class="ion-margin-left pt-2"> {{planning.lesson.teacher.region}}</h2></ion-row>
                <ion-row class="mb-10">
                    <ion-text color="dark"><h2 class="text-bolder pr-5">{{"CITY_TEXT"|translate}}:</h2></ion-text>
                    <h2 class="ion-margin-left pt-2"> {{planning.lesson.teacher.city}}</h2></ion-row>
                <ion-row class="mb-10">
                    <ion-text color="dark"><h2 class="text-bolder pr-2">{{"ZIP_CODE_TEXT"|translate}}:</h2></ion-text>
                    <h2 class="ion-margin-left pt-2"> {{planning.lesson.teacher.postCode}}</h2></ion-row>
                <ion-row class="mb-10">
                    <ion-text color="dark"><h2 class="text-bolder pr-3">{{"STREET_TEXT"|translate}}:</h2></ion-text>
                    <h2 class="ion-margin-left pt-2"> {{planning.lesson.teacher.street}}, {{planning.lesson.teacher.streetNumber}}</h2>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-row class="ion-justify-content-center ion-margin-bottom">
            <ion-col size="auto">
                <ion-button shape="round" class="avvia-chat ion-margin-top"
                            (click)="controlloChat()">{{"START_CHAT_BUTTON"|translate}}
                </ion-button>
            </ion-col>
            <ion-col size="auto">
                <ion-button *ngIf="(user$ | async).roles === 1 && noPlanningDisp" shape="round" class="avvia-chat ion-margin-top"
                            [routerLink]="['/lista-per-prenotarsi', planning.lesson.idLesson]" routerDirection="forward">{{"BOOKED_BUTTON"|translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
