<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button [routerLink]="['/chat']">Chat</ion-button>
    <ion-input type="text" [(ngModel)]="messaggio" id="input" ></ion-input>
    <ion-button (click)="mex()">nome</ion-button>
    <p>{{risposta}}</p>
    <ion-button (click)="provaRest()">Rest</ion-button>
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
    <ion-button [routerLink]="['/registrazione']">Registrazione</ion-button>
    <ion-button fill="solid" size="small" color="light" (click)="logout()"> ESCI DIO SANTO!!!</ion-button>
  </div>
</ion-content>
