<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="pl--56">
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="accettate">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <ion-label>Accettate</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="richieste">
                <ion-badge *ngIf="(this.teacher$ | async) as teacher;">{{this.num}}</ion-badge>
                <ion-icon name="calendar"></ion-icon>
                <ion-label>richieste</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
