.pa16{
  padding-left: 16px !important;
}

ion-select{
  max-width: 100% !important;
}

.bio{
  opacity: .5;
  font-size: 16px !important;
  transform: translate3d(0,50%,0) !important;
  -webkit-transform: translate3d(0,50%,0) !important;
}

.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-focus.label-stacked.sc-ion-label-md-h, .item-has-focus .label-stacked.sc-ion-label-md-h{
  opacity: 1;
}
.label-struttura{
  padding-left: 0 !important;
  font-size: large;
  font-weight: bold;
  color: rgba(30,30,30,0.85) !important;
  padding-bottom: 17px;
}
.input-fs-18{
  font-size: 18px;
}
.mt-0{
  margin-top: 0 !important;
}
.submit-btn-2{
  --border-width: 1px;
  --border-style: solid;
  --border-color: #029db4;
  --background-hover: #5bb526;
  --color: #ffffff;
  --background: #029db4;
  font-size: 16px;
  --padding-bottom: 2px;
  --padding-top: 2px;
  margin-left: 60px;
  margin-right: 60px;
}
