/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// font
html.ios {
  --ion-default-font: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}

html.md {
  --ion-default-font: "Roboto", "Helvetica Neue", sans-serif;
}

$apprimary: #029db4;

$apprimary-rgb: (2, 157, 180);

$apprimary-contrast: #ffffff;

$apprimary-contrast-rgb: 255, 255, 255;

$apprimary-shade: #028a9e;

$color-apprimary-tint: #1ba7bc;

.menu{
  --background:#029db4;
  color: $apprimary-contrast;
}

.menu-toolbar{
  background-color: $apprimary;
}

.menu-title{
  color: $apprimary-contrast;
}

ion-toolbar {
  --background: #029db4;
  --color: #f4f4f4;
}

ion-toolbar ion-title {
  text-transform: capitalize;
  text-align: center;
}

.submit-btn {
  --border-width: 1px;
  --border-style: solid;
  --border-color: #ffff;
  --background-hover: #5bb526;
  --color: #ffffff;
  --background: #54a723;
  font-size: 16px;
  --padding-bottom: 2px;
  --padding-top: 2px;
}

.registrati-box {
  background: #029db4;
  padding: 20px 20px 0px 20px;
  margin-top: 20px;
}

.vertical-middle {
  vertical-align: middle;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.font-weight-400{
  font-weight: 400;
}


