<ion-content>
   <div *ngIf="(this.teacher$ | async) as teacher; then teacherBlock else studentBlock"></div>
     <ng-template #studentBlock>
         <ion-list *ngIf="(this.student$ | async) as student;" style="margin-bottom: 100px">
             <ion-list-header style="margin-bottom: -14px">Lista lezioni accettate</ion-list-header>
             <div *ngFor="let lez of lezioni">
                 <ion-item-sliding #itemSliding *ngIf="lez.lessonState === 1">
                     <ion-item lines="full" class="py-10">
                         <ion-col size="auto">
                           <ion-icon *ngIf="lez.imgProf === null || lez.imgProf === '' || lez.imgProf ===' '; else imgBlock"
                                     name="contact" class="fs-62"></ion-icon>
                           <ng-template #imgBlock>
                             <ion-avatar class="ion-text-center h-62 w-62 pt-3">
                               <img [src]="lez.imgStudent" alt="img" style="width: 51px; height: 51px;">
                             </ion-avatar>
                           </ng-template>
                         </ion-col>
                         <ion-col size="10">
                             <div class="ion-no-margin"
                                  style="font-size: large; font-weight: normal">{{lez.nomeLezione}}</div>
                           <ion-row>
                             <ion-col class="ion-no-padding">
                             <div class="ion-no-margin"
                                  style="font-size: medium; font-weight: 300; letter-spacing: 0.1em;">{{lez.nomeProf}}</div>
                             </ion-col>
                             <ion-col class="ion-no-padding">
                               <div class="ion-float-right c-primary ion-padding-end"
                                    style="font-size: medium; font-weight: 300; letter-spacing: 0.1em;">{{lez.price}}€/h</div>
                             </ion-col>
                           </ion-row>
                           <div class="ion-no-margin" style="font-size: small; font-weight: 300; padding-top: 5px;">Per
                             il {{lez.date | date:'short'}}</div>
                             <div class="ion-no-margin" style="font-size: small; font-weight: 300; padding-top: 5px;">
                                 Tra {{lez.days}} giorni, {{lez.hours}} ore, {{lez.minutes}} min, {{lez.seconds}} sec
                             </div>
                         </ion-col>
                     </ion-item>
                     <ion-item-options side="end">
                         <ion-item-option color="danger" (click)="presentAlert(itemSliding)">Annulla</ion-item-option>
                     </ion-item-options>
                 </ion-item-sliding>
             </div>
         </ion-list>
         <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addPrenotazioneLezione()">
             <ion-fab-button>
                 <ion-icon name="add"></ion-icon>
             </ion-fab-button>
         </ion-fab>
     </ng-template>
     <ng-template #teacherBlock>
         <ion-list>
             <ion-list-header style="margin-bottom: -14px">Lista lezioni prenotate </ion-list-header>
           <div *ngFor="let lez of lezioni">
             <ion-item-sliding #itemSliding *ngIf="lez.lessonState === 1">
                 <ion-item lines="full" class="py-10">
                     <ion-col size="auto">
                       <ion-icon *ngIf="lez.imgStudent === null || lez.imgStudent === '' || lez.imgStudent ===' '; else imgBlock"
                                 name="contact" class="fs-62"></ion-icon>
                       <ng-template #imgBlock>
                         <ion-avatar class="ion-text-center h-62 w-62 pt-3">
                           <img [src]="lez.imgStudent" alt="img" style="width: 51px; height: 51px;">
                         </ion-avatar>
                       </ng-template>
                     </ion-col>
                     <ion-col size="10">
                         <div class="ion-no-margin"
                              style="font-size: large; font-weight: normal">{{lez.nomeLezione}}</div>
                       <ion-row>
                         <ion-col class="ion-no-padding">
                           <div class="ion-no-margin"
                                style="font-size: medium; font-weight: 300; letter-spacing: 0.1em;">{{lez.nomeStudent}}</div>
                         </ion-col>
                         <ion-col class="ion-no-padding">
                           <div class="ion-float-right c-primary ion-padding-end"
                                style="font-size: medium; font-weight: 300; letter-spacing: 0.1em;">{{lez.price}}€/h</div>
                         </ion-col>
                       </ion-row>
                       <div class="ion-no-margin" style="font-size: small; font-weight: 300; padding-top: 5px;">Per
                         il {{lez.date | date:'short'}}</div>
                         <div class="ion-no-margin" style="font-size: small; font-weight: 300; padding-top: 5px;">
                             Tra {{lez.days}} giorni, {{lez.hours}} ore, {{lez.minutes}} min, {{lez.seconds}} sec
                         </div>
                     </ion-col>
                 </ion-item>
                 <ion-item-options side="end">
                     <ion-item-option color="danger" (click)="presentAlert(itemSliding)">Annulla</ion-item-option>
                 </ion-item-options>
             </ion-item-sliding>
           </div>
         </ion-list>
         <ion-button expand="full" color="medium" class="ion-margin-bottom ion-margin-top">INSERISCI UN NUOVO ANNUNCIO
         </ion-button>
     </ng-template>
</ion-content>
