<ion-content>
   <div *ngIf="(this.teacher$ | async) as teacher; then teacherBlock else studentBlock"></div>
     <ng-template #studentBlock>
         <ion-list class="mb-100" *ngIf="(this.student$ | async) as student;">
             <ion-list-header class="mb--14" *ngIf="lezioni.length > 0; else notLesS">Lista lezioni accettate</ion-list-header>
             <ng-template #notLesS>
                 <div class="mx-auto fit-content">
                     <h5 class="fit-content font-weight-300 ls-1">Nessuna lezione prenotata in vista!</h5>
                 </div>
             </ng-template>
             <div *ngFor="let lez of lezioni">
                 <ion-item-sliding #itemSliding *ngIf="lez.lessonState === 1">
                     <ion-item lines="full" class="py-10">
                         <ion-col size="auto">
                           <ion-icon *ngIf="lez.imgProf === null || lez.imgProf === '' || lez.imgProf ===' '; else imgBlock"
                                     name="contact" class="fs-62"></ion-icon>
                           <ng-template #imgBlock>
                             <ion-avatar class="ion-text-center h-62 w-62 pt-3">
                               <img [src]="lez.imgStudent" alt="img" class="w-51 h-51">
                             </ion-avatar>
                           </ng-template>
                         </ion-col>
                         <ion-col size="10">
                             <div class="ion-no-margin fs-large fw-normal">{{lez.nomeLezione}}</div>
                           <ion-row>
                             <ion-col class="ion-no-padding">
                             <div class="ion-no-margin fs-medium font-weight-300 ls-01em">{{lez.nomeProf}}</div>
                             </ion-col>
                             <ion-col class="ion-no-padding">
                               <div class="ion-float-right c-primary ion-padding-end fs-medium font-weight-300 ls-01em">{{lez.price}}€/h</div>
                             </ion-col>
                           </ion-row>
                           <div class="ion-no-margin fs-small font-weight-300 pt-5">Per
                             il {{lez.date | date:'short'}}</div>
                             <div class="ion-no-margin fs-small font-weight-300 pt-5">
                                 Tra {{lez.days}} giorni, {{lez.hours}} ore, {{lez.minutes}} min, {{lez.seconds}} sec
                             </div>
                         </ion-col>
                     </ion-item>
                     <ion-item-options side="end">
                         <ion-item-option color="danger" (click)="presentAlert(itemSliding, lez.idbook)">Annulla</ion-item-option>
                     </ion-item-options>
                 </ion-item-sliding>
             </div>
         </ion-list>
         <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addPrenotazioneLezione()">
             <ion-fab-button>
                 <ion-icon name="add"></ion-icon>
             </ion-fab-button>
         </ion-fab>
     </ng-template>
     <ng-template #teacherBlock>
         <ion-list class="mb-100">
             <ion-list-header class="mb--14" *ngIf="lezioni.length > 0; else notLesT">Lista lezioni prenotate</ion-list-header>
             <ng-template #notLesT>
             <div class="mx-auto fit-content">
                <h5 class="fit-content font-weight-300 ls-1">Nessuna lezione prenotata in vista!</h5>
             </div>
             </ng-template>
           <div *ngFor="let lez of lezioni">
             <ion-item-sliding #itemSliding *ngIf="lez.lessonState === 1">
                 <ion-item lines="full" class="py-10">
                     <ion-col size="auto">
                       <ion-icon *ngIf="lez.imgStudent === null || lez.imgStudent === '' || lez.imgStudent ===' '; else imgBlock"
                                 name="contact" class="fs-62"></ion-icon>
                       <ng-template #imgBlock>
                         <ion-avatar class="ion-text-center h-62 w-62 pt-3">
                           <img [src]="lez.imgStudent" alt="img" class="h-51 w-51">
                         </ion-avatar>
                       </ng-template>
                     </ion-col>
                     <ion-col size="10">
                         <div class="ion-no-margin fs-large fw-normal">{{lez.nomeLezione}}</div>
                       <ion-row>
                         <ion-col class="ion-no-padding">
                           <div class="ion-no-margin fs-medium font-weight-300 ls-01em"
                                [routerLink]="['/profilo-singolo', lez.emailStudent]" >{{lez.nomeStudent}}</div>
                         </ion-col>
                         <ion-col class="ion-no-padding">
                           <div class="ion-float-right c-primary ion-padding-end fs-medium font-weight-300 ls-01em">{{lez.price}}€/h</div>
                         </ion-col>
                       </ion-row>
                       <div class="ion-no-margin fs-small font-weight-300 ls-01em">Per
                         il {{lez.date | date:'short'}}</div>
                         <div class="ion-no-margin fs-small font-weight-300 pt-5">
                             Tra {{lez.days}} giorni, {{lez.hours}} ore, {{lez.minutes}} min, {{lez.seconds}} sec
                         </div>
                     </ion-col>
                 </ion-item>
                 <ion-item-options side="end">
                     <ion-item-option color="danger" (click)="presentAlert(itemSliding, lez.idbook)">Annulla</ion-item-option>
                 </ion-item-options>
             </ion-item-sliding>
           </div>
         </ion-list>
         <div class="bottone-aggiungi">
                <ion-button expand="full" color="medium" class="ion-margin-bottom ion-margin-top" [routerLink]="['/inserimento-lezioni']" routerDirection="forward">INSERISCI UN NUOVO ANNUNCIO
                </ion-button>
         </div>
     </ng-template>
</ion-content>
