<ion-content *ngIf="(user$ | async) as user">
    <ion-list *ngIf="(lastMessageFromChats$ | async) as lastMessageFromChats">
        <ion-list-header
                *ngIf="lastMessageFromChats.length > 0; else noChats">{{"LIST-CHAT-TITLE"|translate}}</ion-list-header>
        <ion-item *ngFor="let c of lastMessageFromChats;" [routerLink]="['/chat', c.chat.idChat]"
                  routerDirection="forward" class="ion-no-padding" detail="true" lines="full">
            <ion-grid class="ion-no-padding w-100">
                <ion-row>
                    <ion-col size="auto" *ngIf="user.roles === 1">
                        <ion-icon
                                *ngIf="c.chat.userListser[1].image === null || c.chat.userListser[1].image === '' || c.chat.userListser[1].image ===' '; else imgBlockTeacher"
                                name="contact" class="fs-62 c-primary"></ion-icon>
                        <ng-template #imgBlockTeacher>
                            <ion-avatar class="ion-text-center h-62 w-62 pt-3">
                                <img [src]="c.chat.userListser[1].image" alt="img" class="w-51 h-51">
                            </ion-avatar>
                        </ng-template>
                    </ion-col>
                    <ion-col size="auto" *ngIf="user.roles === 2">
                        <ion-icon
                                *ngIf="c.chat.userListser[0].image === null || c.chat.userListser[0].image === '' || c.chat.userListser[0].image ===' '; else imgBlockStudent"
                                name="contact" class="fs-62 c-primary"></ion-icon>
                        <ng-template #imgBlockStudent>
                            <ion-avatar class="ion-text-center h-62 w-62 pt-3">
                                <img [src]="c.chat.userListser[0].image" alt="img" class="w-51 h-51">
                            </ion-avatar>
                        </ng-template>
                    </ion-col>
                    <ion-col class="">
                        <ion-row>
                            <ion-col size="8" class="py-0 pl-0">
                                <div *ngIf="user.roles === 1"
                                     class="ion-no-margin fs-large fw-normal">{{c.chat.userListser[1].name}} {{c.chat.userListser[1].surname}}</div>
                                <div *ngIf="user.roles === 2"
                                     class="ion-no-margin fs-large fw-normal">{{c.chat.userListser[0].name}} {{c.chat.userListser[0].surname}}</div>
                            </ion-col>
                            <ion-col size="4" class="py-0">
                                <div class="fs-small font-weight-300 ion-text-right w-100 pt-3">{{c.sendDate | date:'dd/MM/yyyy'}}</div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="8" class="py-0 pl-0">
                                <div class="ion-no-margin fs-medium font-weight-300 ls-01em c-primary">{{c.user.name}} {{c.user.surname}}</div>
                            </ion-col>
                            <ion-col size="4" class="py-0">
                                <div class="fs-small font-weight-300 ion-text-right w-100 pt-3">{{c.sendDate | date:'HH:mm'}}</div>
                            </ion-col>
                        </ion-row>
                        <div class="ion-no-margin fs-medium font-weight-300 text-troncate ls-1 pt-3 pr-5">{{c.text}}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

    <ng-template #noChats>
        <div class="mx-auto fit-content">
            <h5 class="fit-content font-weight-300 ls-1">{{"ANY_CHAT_AVAILABLE_TEXT"|translate}}</h5>
        </div>
    </ng-template>
</ion-content>
